.card-unica-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(94, 58, 155, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    transform: translateY(100%); 
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }
  
  .card-unica:hover .card-unica-content {
    transform: translateY(0);
    opacity: 1;
    animation: slideUp 0.4s ease forwards;
  }
  
  
  .card-unica-title {
    font-size: 1.2em;
    margin: 0;
  }
  
  .card-unica-description {
    font-size: 0.9em;
    margin: 5px 0;
  }
  
  .card-unica-button {
    padding: 8px 16px;
    background-color: #800080;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .card-unica-button:hover {
    background-color: #5D3A9B;
    transform: translateY(-2px);
  }