@keyframes slideUp {
  0% { transform: translateY(100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.card-unica {
  position: relative;
  width: 95%;
  max-width: 375px;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-unica:hover {
  transform: scale(1.02);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.card-unica-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(94, 58, 155, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    transform: translateY(100%); 
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }
  
  .card-unica:hover .card-unica-content {
    transform: translateY(0);
    opacity: 1;
    animation: slideUp 0.4s ease forwards;
  }
  
  
  .card-unica-title {
    font-size: 1.2em;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .card-unica-description {
    font-size: 0.9em;
    margin: 5px 0;
  }
  
  .card-unica-button {
    padding: 8px 16px;
    background-color: #951abe;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .card-unica-button:hover {
    background-color: #cb6ce6;
    transform: translateY(-2px);
  }

  @media (min-width: 1024px) {
      .card-unica {
        display: inline-flex;
        margin: 10px 60px 10px 70px;
        justify-content: space-around;
      }
    }
    