* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .navbar {
    background-color: #951abe;
    color: white;
    padding: 1rem;
    width: 100%; 
    display: flex;
    flex-direction: column;
  }
  
  .navbar-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-nav{
    max-width: 30px;
  }
  
  @media (min-width: 1024px) {
    .navbar {
      flex-direction: row; 
      justify-content: space-between; 
      align-items: center; 
      padding: 1rem 2rem; 
    }
  
    .navbar-header {
      justify-content: flex-start; 
    }
  
    .img-nav {
      max-width: 50px;
    }
  }